<!DOCTYPE html>
<html>
    <head>
        <title>Split The Tip!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
			  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" 
              integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/calculator.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <div class="card card-body">
                  <h1 class="heading">Tip Calculator</h1>
                  <form id="tip-form">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">Total bill $</span>
                        <input type="number"  class="form-control" id="billTotal" placeholder="0.00">
                      </div>
                    </div>
                    <div class="form-group tipPersent">
                      <div class="input-group">
                        <label for="">Tip % </label>      
      
                        <input type="number" step="5" class="form-control" id="tipInput" value="20" >
                        <span class="input-group-addon" id="tipOutput"></span>
                      </div>
                    </div>
                    <div class="form-group numberOfGuests">
                        <div class="input-group">
                          <label for=""># Splitting bill </label>      
        
                          <input type="number" min="1" class="form-control" id="tippersPresent" value="1" >
                          <span class="input-group-addon" id="numberOfTippers"></span>
                        </div>
                      </div>
      
      
                  </form>
      
                  <!-- RESULTS -->
                  <div id="results">
                    <h4>Results</h4>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">Tip amount</span>
                        <input type="number" class="form-control" id="tipAmount" disabled>
                      </div>
                    </div>
      
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">Total bill with tip</span>
                        <input type="number" class="form-control" id="totalBillWithTip" disabled>
                      </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">Total amount per person</span>
                          <input type="number" class="form-control" id="totalPerPerson" disabled>
                        </div>
                      </div>
      
                  </div>
                </div>
              </div>
            </div>
          </div>

        <script src="js/calcLogic.js"></script>
    </body>
</html>