<!DOCTYPE html>
<html>
    <head>
        <title>Split The Tip!</title>
        <link rel="stylesheet" href="/css/calculator.css">
    </head>
    <body>
        <h1>Test</h1>

        <script src="js/test.js"></script>
    </body>
</html>